/*Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343*/




@font-face {
  src: url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700|Roboto:300,300i,400,400i");
}

/*index.html*/

body {
  background-color: #F2F1E8;
  color: #131511;
  font-family: 'Merriweather';
  margin: 0px;
  width: 100%;
}

p {
  font-size: 18px;
  line-height: 2em;

}

nav {
  background-color: #FFF;
  background-image: url("images/bent-creek-logo.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  width: 100%;
  z-index: 1;
}

nav ul {
  background-color: #FFF;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

nav li {
  background-color: #FFF;
  display: inline-block;
  text-align: left; /*(compensates for bullets)*/
  width: 100px;
}

nav a {
  font-family: 'Roboto';
  font-size: 20px;
  color: #2B2F26;
}

nav a:hover {
  color: #CD5D67;
}

nav a:active {
  color: #968772;
}

.active-navbar-color a {
  color: #968772;
}

main {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.header {
  font-family: 'Merriweather';
  font-size: 65px;
  padding-top: 20px;
  text-align: center;
}
.sub-header {
  font-family: 'Merriweather';
  font-size: 40px;
  margin-top: -30px;
  text-align: center;
}

/*first row of pics on home page*/

.top-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 200px;
}

.top-row img {
  height: 405px;
  width: auto;
}
#pic1 {
  width: 540px;
  height: 405px;
}

.pic1 {
  position: relative;
}
.pic1 p {
  position: relative;
  background-color: #2b2f26;
  bottom: 5px;
  color: #F2F1E8;
  left: 5px;
  padding: 5px;
  position: absolute;
}

.pic2 {
  position: relative;
}
.pic2 p {
  position: relative;
  background-color: #2b2f26;
  bottom: 5px;
  color: #F2F1E8;
  left: 5px;
  padding: 5px;
  position: absolute;
}

.pic3 {
  position: relative;
}
.pic3 p {
  position: relative;
  background-color: #2b2f26;
  bottom: 5px;
  color: #F2F1E8;
  left: 5px;
  padding: 5px;
  position: absolute;
}

/*bottom row of pics on home page*/

.bottom-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 200px;
}

.bottom-row img {
  height: 200px;
  width: auto;
}

img {
  padding: 5px;
}

.pic4 {
  position: relative;
}
.pic4 p {
  position: relative;
  background-color: #2b2f26;
  bottom: 5px;
  color: #F2F1E8;
  left: 5px;
  padding: 5px;
  position: absolute;
}

.pic5 {
  position: relative;
}
.pic5 p {
  position: relative;
  background-color: #2b2f26;
  bottom: 5px;
  color: #F2F1E8;
  left: 5px;
  padding: 5px;
  position: absolute;
}

.pic6 {
  position: relative;
}
.pic6 p {
  position: relative;
  background-color: #2b2f26;
  bottom: 5px;
  color: #F2F1E8;
  left: 5px;
  padding: 5px;
  position: absolute;
}

.pic7 {
  position: relative;
}
.pic7 p {
  position: relative;    
  background-color: #2b2f26;
  bottom: 5px;
  color: #F2F1E8;
  left: 5px;
  padding: 5px;
  position: absolute;
}


/*about.html*/

.about-info {
  margin-left: 200px;
  margin-right: 200px;
}
.title {
    padding-left: 222px
    
}
.first-p  {
  display: flex;
  flex-direction: row;
}

#birdhouse-p {

}

blockquote {
  border-left: 1.5px solid #968772;
  margin-left: auto;
  padding-left: 25px;
}

article.about-pic {
  background-image: url("images/background-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 300px;
  position: static;
  width: 100%;
}

.room-p {
  color: white;
  font-size: 50px

}

.facilities {
  display: flex;
  flex-direction: row;
}

.facilities1 p {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.about-table {
  border: 1px solid black;
  border-collapse: collapse;
  margin-bottom: 30px;
  padding: 20px;
  table-layout: auto;
}

.about-table td {
  border: 1px solid black;
  padding: 10px;
}

.about-table th {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

tr.row-color {
  background-color: white;
}


/*Newsletter CSS*/

main.news {
  background-image: url("images/background-2.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 800px;
  width: 100%;
}



.news-form {
  width: 600px;
  height: 350px;
  background-color: #FFF;
  border-radius: 3px;
  margin-top: -60px;
  text-align: center;
}

.news-input {
  background-color: #FFF;
  margin-left: 20px;
}

input.input-boxes {
  background-color: #FFF;
  border: none;
  border-bottom: 1px solid black;
  color: #968772;
  float: left;
  font-size: 20px;
  height: 40px;
  width: 90%;
}



button.submit-button {
  background-color: #968772;
  border-radius: 2px;
  color: #F2F1E8;
  font-family: 'Roboto';
  font-size: 16px;
  width: 125px;
  height: 45px;
}

button.submit-button:hover {
  color: #FFF;
  background-color: #967343;
}

button.submit-button:active {
  border-color: lime;
}


/*footer for all three pages*/

footer {
  background-color: #2b2f26;
  color: #F2F1E8;
  display: flex;
  flex-direction: column;
  font-family: 'Merriweather';
  font-size: 14px;
  height: 70px;
  justify-content: center;
  margin: 0;
  padding-left: 10px;
}